@model Course
@{
    ViewData["Title"] = "AddCourse";
}

<div class="row">
    <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Quick Example</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
            <form asp-controller="Course" asp-action="AddCourse" asp-antiforgery="true" method="post">
                <div class="card-body">
                  <div class="form-group">
                        <label asp-for="Name">Course Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Ex:WildLife Photography" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                  </div>
                    <div class="form-group">
                        <label asp-for="level">Level</label>
                        <input asp-for="level" class="form-control" placeholder="Ex:Beginner" />
                        <span asp-validation-for="level" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Ex:Write about the Course " />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" placeholder="Ex:5000" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="startDate">Start Date</label>
                        <input asp-for="startDate" class="form-control" placeholder="Ex:11/15/2023" />
                        <span asp-validation-for="startDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DayOfWeek">Days of the week</label>
                        <input asp-for="DayOfWeek" class="form-control" placeholder="Ex:Sun and Mon" />
                        <span asp-validation-for="DayOfWeek" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="startTime">Class Start Time</label>
                        <input asp-for="startTime" class="form-control" placeholder="Ex:9 PM" />
                        <span asp-validation-for="startTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="endTime">Class End Time</label>
                        <input asp-for="endTime" class="form-control" placeholder="Ex:11 PM" />
                        <span asp-validation-for="endTime" class="text-danger"></span>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
